
*.dll
*.json
*.exe
*.pdb
PlugItStudio/PlugItStudio/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PlugItStudio/PlugItStudio/obj/Debug/net5.0-windows/PlugItStudio.AssemblyInfo.cs
*.cache
*.CopyComplete
PlugItStudio/PlugItStudio/obj/Debug/net5.0-windows/PlugItStudio.csproj.FileListAbsolute.txt
*.editorconfig
*.props
*.targets
*.info
*.xml
*.resources
*.resx
PlugItStudio/.vs/PlugItStudio/v16/.suo
